@charset "utf_8";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Source Sans 3';
    font-size: clamp(1.8rem, 10vw, 5 rem);
    color: rgb(181, 71, 71);
}
.principal{
    display: flex;
}
main{
    padding: 10px;
    margin: 20px 30px;
    font-size: 3cap;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 2;
}
nav{
    display: flex;
    padding: 20px;
    font-size: larger;
}
.nav-top{
    padding: 25px;
    background: linear-gradient(25deg, #00243D 2%,  #00192B 50%);
    justify-content: space-between;
}
.ways-top{
    display: flex;
    gap: 30px;
}
.nav-side{
    flex-direction: column;
    min-width: 200px;
    background: linear-gradient(145deg,#00243dce 25%, #00192bb5 75%);
    height: 100vh;
    gap: 30px;
}
a {
    text-decoration: none;
    color: rgb(245, 245, 245);
}
a:hover{
    text-decoration: underline;
}

.a1{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(25% - 20px);
    background-color: #00243D;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}
.a2{
    padding: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(50% - 20px);
    border: #00243D;
    background-color: #00192B;
    border-radius: 20px;
    text-align: center;
}

.a1:hover{
cursor: pointer;
}
.a2:hover{
    cursor: pointer;
}

.rod-down{
    text-align: center;
    background: linear-gradient(25deg, #00243D 2%,  #00192B 50%);
    padding: 25px;
}