@charset "utf_8";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family:'Source Sans 3';
    font-size: clamp(1rem, 10vw, 1.5rem);
    color: rgb(181, 71, 71);
    min-height:100vh;
    width: 100%;
}
@media (max-width:481px) {
    body {font-size: 14px;}
}
@media (max-width:768px){
    body{font-size: 14px;}
    .a1 , .a2 {flex-basis: calc(100% - 20px);}
    .nav-side {max-width: 150px;}
        
}
@media (max-width:1025px){
    body {max-width:1200px;}

}
.principal{
    display: flex;
    flex-grow: 1;
}
main{
    padding: 10px;
    margin: 20px 30px;
    font-weight: bolder;
    display: flex;
    flex-grow:1;
    gap: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
}
nav{
    display: flex;
    padding: 20px;
}
.nav-top{
    padding: 25px;
    background: linear-gradient(25deg, #00243D 2%,  #00192B 50%);
    justify-content: space-between;
}
.ways-top{
    display: flex;
    gap: 30px;
}
.nav-side{
    flex-direction: column;
    width: 200px;
    background: linear-gradient(145deg,#00243dce 25%, #00192bb5 75%);
    gap: 30px;
    height: 100%;
}
a {
    text-decoration: none;
    color: rgb(245, 245, 245);
}
a:hover{
    text-decoration: underline;
}

.a1{
    flex-grow: 1;
    flex-basis: calc(25% - 20px);
    background-color: #00243D;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    align-content: center;
   
}
.a2{
    padding: 10px;
    flex-grow: 2;
    flex-basis: calc(50% - 20px);
    border: #00243D;
    background-color: #00192B;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}

.a1:hover{
cursor: pointer;
}
.a2:hover{
    cursor: pointer;
}

.rod-down{
    text-align: center;
    background: linear-gradient(25deg, #00243D 2%,  #00192B 50%);
    padding: 25px;
}